    <form mix-post="/api-create-user" autocomplete="off">
        
        <div>
            <label for="">
                First name <span>{{ x.USER_FIRST_NAME_MIN }} to {{ x.USER_FIRST_NAME_MAX }} characters</span>
            </label>
            <input name="user_first_name" type="text" placeholder="user first name" value="" 
            mix-validate="{{x.REGEX_USER_FIRST_NAME}}">
        </div>

        <div>
            <label for="">
                Last name <span>{{ x.USER_LAST_NAME_MIN }} to {{ x.USER_LAST_NAME_MAX }} characters</span>
            </label>
            <input name="user_last_name" type="text" placeholder="user last name" value="" 
            mix-validate="{{x.REGEX_USER_LAST_NAME}}">
        </div>

        <div>
            <label for="">
                Email
            </label>
            <input name="user_email" type="text" placeholder="user email" value="" 
            mix-validate="{{x.REGEX_USER_EMAIL}}">
        </div>

        <div>
            <label for="">
                Password <span>{{ x.USER_PASSWORD_MIN }} to {{ x.USER_PASSWORD_MAX }} characters</span>
            </label>
            <input name="user_password" type="text" placeholder="user password" value="" 
            mix-validate="{{x.REGEX_USER_PASSWORD}}">
        </div>



        <button>
            Signup
        </button>
    </form>